__pycache__/
*.py[oc]
build/
dist/
wheels/
*.egg-info
.venv
.ruff_cache
.vscode

mmseg_datasets
MarsScapes
MarsScapes_V2
MarsSeg
MSL-Seg_V2
processed
S5Mars
S5Mars_V2
SynMars-Air
SynMars-Air_V2
SynMars-TW_V2
datasets.zip

kill.sh
set_env.sh
switch-cuda.sh

tools/eta.py
tools/Dataset*
tools/preprocess*
tools/convert_table_to_dict.py
tools/plot_distribution.py
tools/plot_histogram.py
tools/visualize_comparison.py

Light4Mars
nnUNet_raw
nnUNet_preprocessed
# nnUNet_results
nnUNet_results_bk


figures
plots
*.log

backup/